<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">
            Confirmation {{ vm.order.Confirmation }}
        </h4>
        <div class="well">
            <form name="form" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Number of people</label>
                        <p>{{ vm.order.Quantity }}</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Date</label>
                        <p>{{ vm.order.Date | date : 'MM/dd/yyyy' }}</p>
                    </div>
                    <div class="form-group" ng-repeat="person in vm.order.People">
                        <h5>Person {{ $index }}</h5>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name</label>
                            <p>{{ person.Name }}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Age</label>
                            <p>{{ person.Age }}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Gender</label>
                            <p ng-show="person.Gender == 0">Male</p>
                            <p ng-show="person.Gender == 1">Female</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Weight</label>
                            <p>{{ person.Weight }}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Chronic Health Problems</label>
                            <p ng-repeat="healthIssue in person.HealthIssues">
                                {{ healthIssue.Description }}{{ $last ? '' : ', ' }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Price</label>
                        <p>{{ vm.order.Price }}</p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
